<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pc.privacylibrary">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".personalinfo.AppInfoActivity"
            android:exported="false" />
        <activity
            android:name=".personalinfo.AccountInfoActivity"
            android:exported="false" />
        <activity
            android:name=".personalinfo.PersonInfoScanActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyManagerActivity"
            android:exported="false" />
        <activity
            android:name=".personalinfo.PersonInfoDownLoadActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="false" />
        <activity android:name=".systempermission.SystemPermissionActivity" />
    </application>

</manifest>